<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="MyFile" fileName="/var/log/powermeter/app.log">
            <PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="DataLog" fileName="/var/log/powermeter/raw-data.log">
            <PatternLayout pattern="%msg%n"/>
        </File>
        <File name="GsonLog" fileName="/var/log/powermeter/gson-data.log">
            <PatternLayout pattern="%msg%n"/>
        </File>
    </appenders>

    <loggers>

        <logger name="DataLogger" level="TRACE">
            <appender-ref ref="DataLog"/>
        </logger>

        <logger name="GsonLogger" level="TRACE">
            <appender-ref ref="GsonLog"/>
        </logger>


        <root level="info">
            <appender-ref ref="Console" level="info"/>
            <appender-ref ref="MyFile" level="info"/>
        </root>
    </loggers>
</configuration>