<?xml version="1.0" encoding="UTF-8"?>
<configuration status="debug">
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </appenders>

    <loggers>

        <logger name="nl.elucidator.homeautomation.elastic.data" level="TRACE"/>

        <root level="TRACE">
            <appender-ref ref="Console" level="TRACE"/>
        </root>
    </loggers>
</configuration>