<!DOCTYPE html>
<html>
<head>
    <title>Home Automation, Dataminer</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body ng-app="TodoApp" ng-controller="TodoCtrl">

<section id="notes" class="container">
    <button id="add-note" class="btn btn-primary" ng-click="addNote()">Add note</button>
    <article ng-repeat="note in notes" class="note">
        <h1><span class="title">{{ note.title }}</span>
            <button class="btn btn-danger" ng-click="remove(note)">-</button>
        </h1>

        <div class="summary">{{ note.summary }}</div>
    </article>
</section>


</body>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-resource.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</html>